.page-container{
	background-image:url('../images/providers-bg.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	height:100%;
	position: absolute;
	bottom:0px;
}
.custom-form{
	background:rgba(50,50,50,0.5);
	background:rgba(255,255,255,0.6);
	padding:10px 20px;
	border-radius:7px;
}
.custom-form input{
	margin-top:15px;
}
.error-message{
	color:#f00;
}
.register{
	margin-top:10px;
}